version: "3.9"
services:
  backend:
    image: docker.io/yourusername/protienlab-backend:latest
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb+srv://baccarmahdi09:QGOXemXdJ5CigQ09@cluster0.ygb4b3i.mongodb.net/nutrition_store?retryWrites=true&w=majority&appName=Cluster0&tls=true&ssl=true
    restart: always

  frontend:
    image: docker.io/yourusername/protienlab-frontend:latest
    ports:
      - "3000:80"
    restart: always
